<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="UTF-8">
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename= 'img/test_favicon.png') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/header.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/footer.css') }}">
      <script src="{{ url_for('static', filename= 'script/index.js') }}"></script>
      {% block css %} {% endblock %}
      {% block js %} {% endblock %}
      <title >{{page}}</title>
  </head>
  <body>
    <div id="enroll-popup">
      <div class="bg"></div>
      <div id="close-contact"></div>
      <form class="enroll-form" method="post" action="/enroll">
        <label for="name">как к вам обращаться</label>
        <input required name="name" id="name" type="text" placeholder="name">
        <label for="contacts">как с вами связаться</label>
        <input required name="contacts" id="contacts" type="text" placeholder="contacts">
        <div class="consent-container">
          <label for="consent">согласие на обработку данных</label>
          <input required type="checkbox" id="consent" name="consent">
        </div>
        <button class="button">записаться</button>
      </form>
    </div>
    <div class="header">
      <div class="logo">logo</div>
      <div class="wrapper">
        {% if page == 'MAIN' %}
          <a class="section linck section-active" href="{{ url_for('main.index') }}">home</a>
        {% else %}
          <a class="section linck" href="{{ url_for('main.index') }}">home</a>
        {% endif %}
        <a
          class="section linck"
          href="{{instagram}}"
          target="_blank"
        >instagram</a>
        {% if page == 'CONTACTS' %}
          <a class="section linck section-active" href="{{ url_for('main.contacts') }}">contacts</a>
        {% else %}
          <a class="section linck " href="{{ url_for('main.contacts') }}">contacts</a>
        {% endif %}
      </div>
    </div>
    {% block content %} {% endblock %}
    <div id="footer">
      <a href="{{instagram}}" target="_blank">
        <div class="icon instagram"></div>
      </a>
      <div class="icon share"></div>
      <div class="icon" id="enroll"></div>
      <div class="icon" id="like"></div>
      <div class="number-likes">{{likes}}</div>
    </div>
  </body>
</html>