{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/admin.css') }}">
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename= 'script/admin.js') }}"></script>
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
    <input type="file" id="fileInput" accept="image/*">
    <div class="admin">
      <form class="admin" method="post" action="/login">
        <label for="instagram">instagram</label>
        <input required name="instagram" id="instagram" type="text" placeholder="instagram">
        <label for="nick">nick</label>
        <input required name="nick" id="nick" type="password" placeholder="nick">
        <button class="button">сохранить</button>
      </form>
      <button class="button"id="upload-photo">загрузить фото</button>
      <a class="linck button button-linck" href="{{ url_for('auth.logout') }}" class="logout">выйти</a>
    </div>
  {% else %}
    <form class="admin" method="post" action="/login">
      <input required name="login" type="text" placeholder="login">
      <input required name="password" type="password" placeholder="password">
      <button class="button">log in</button>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="is-danger">{{ messages[0] }}</div>
      {% endif %}
      {% endwith %}
    </form>
  {% endif %}
{% endblock %}