{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/admin.css') }}">
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename= 'script/admin.js') }}"></script>
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
    <input type="file" id="photoInput" accept="image/*">
    <input type="file" id="avatarInput" accept="image/*">
    <div class="admin">
      <div class="avatar" style="background-image: url('static/img/admin/avatar.jpg')"></div>
      <form class="admin" method="post" action="/edit">
        <label for="instagram">Инстаграм</label>
        <input name="instagram" id="instagram" type="text" placeholder="Инстаграм">
        <label for="nick">Ник</label>
        <input name="nick" id="nick" type="text" placeholder="Ник">
        <label for="email">Email</label>
        <input name="email" id="email" type="email" placeholder="Email">
        <label for="full_name">Полное имя с фамилией</label>
        <input name="full_name" id="full_name" type="email" placeholder="Полное имя с фамилией">
        <label for="login">Логин</label>
        <input name="login" id="login" type="text" placeholder="Логин">
        <label for="password">Пароль</label>
        <input name="password" id="password" type="text" placeholder="Пароль">
        <button class="button">Сохранить</button>
      </form>
      <button class="button"id="upload-avatar">Загрузить автарку</button>
      <button class="button"id="upload-photo">Загрузить фото</button>
      <a class="linck button button-linck" href="{{ url_for('photo.deleted_all_photo') }}" class="login">Удалить все фото</a>
      <a class="linck button button-linck" href="{{ url_for('auth.logout') }}" class="logout">Выйти</a>
    </div>
    {%if images != [] %}
      <div class="admin-header">Загруженные фото</div>
    {% endif %}
    <div class="photos">
      {% for image in images %}
        <div class="photo" style="background-image: url('static/img/photos/{{image}}')" >
          <div class="delete" data-file-name="{{image}}"></div>
        </div>
      {% endfor %}
    </div>
    {%if clients != [] %}
      <div class="admin-header">Заявки</div>
    {% endif %}
    <div class="customers">
    {% for client in clients %}
      <div class="customer">
        <div>{{client.name}}</div>
        <div>{{client.contacts}}</div>
        <div>{{client.consent}}</div>
        <div class="delete-customer" data-customer-id="{{client.id}}"></div>
      </div>
    {% endfor %}
  </div>
  {% else %}
    <form class="admin" method="post" action="/login">
      <input required name="login" type="text" placeholder="login">
      <input required name="password" type="password" placeholder="password">
      <button class="button">Вход</button>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="is-danger">{{ messages[0] }}</div>
      {% endif %}
      {% endwith %}
    </form>
  {% endif %}
{% endblock %}