{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/contacts.css') }}">
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename= 'script/contacts.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="contacts">
    <div class="avatar" style="background-image: url('static/img/admin/avatar.jpg')"></div>
    <div class="contacts-title">{{full_name}}</br>Место нахождения Тайланд</div>
    <div class="contacts-title">Контакты</div>
    <div class="info">{{email}}</div>
    <div class="contacts-title">Связаться со мной</div>
    <div>
      <a
        class="linck info"
        href="{{instagram}}"
        target="_blank"
      >instagram</a>
    </div>
    <button id="open-form-button" class="button">Форма обратной связи</button>
  </div>
{% endblock %}
