{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename= 'script/main.js') }}"></script>
{% endblock %}

{% block content %}
  <div id="photo-popup">
    <div id="close"></div>
    <div class="photo-origin-wrapper">
      <img id="photo-origin" alt="photo">
    </div>
    <div class="bg"></div>
  </div>
  <div class="main">
    {% for image in images %}
      <div class="photo" style="background-image: url('static/img/photos/{{image}}')" ></div>
    {% endfor %}
  </div>
{% endblock %}
