{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename= 'script/main.js') }}"></script>
{% endblock %}

{% block content %}
  <div id="photo-popup">
    <div id="close"></div>
    <img class="photo-origin" src="static/img/test_photo.jpg" alt="photo">
    <div class="bg"></div>
  </div>
  <div class="main">
    <div class="photo" style="background-image: url('static/img/test_photo.jpg')" ></div>
    <div class="photo" style="background-image: url('static/img/test_photo.jpg')" ></div>
    <div class="photo" style="background-image: url('static/img/test_photo.jpg')" ></div>
    <div class="photo" style="background-image: url('static/img/test_photo.jpg')" ></div>
    <div class="photo" style="background-image: url('static/img/test_photo.jpg')" ></div>
    <div class="photo" style="background-image: url('static/img/test_photo.jpg')" ></div>
    <div class="photo" style="background-image: url('static/img/test_photo.jpg')" ></div>
    <div class="photo" style="background-image: url('static/img/test_photo.jpg')" ></div>
    <div class="photo" style="background-image: url('static/img/test_photo.jpg')" ></div>
  </div>
{% endblock %}
