.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  gap: 12px;
  padding-left: 18px;
  padding-bottom: 18px;
  height: 20px;
  z-index: 4;
}
.icon {
  height: 19px;
  width: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.icon:hover {
  filter: brightness(0) invert(1);
}
.instagram {
  background-image: url('../img/icons/instagram.png');
}
.share {
  background-image: url('../img/icons/share.png');
}
#enroll {
  background-image: url('../img/icons/enroll.png');
}
#enroll-menu {
  background-image: url('../img/icons/enroll.png');
}
#like {
  background-image: url('../img/icons/like.png');
}
.number-likes {
  color: #6B6B6B;
  font-size: 14px;
  line-height: 19px;
  margin-left: 26px;
}
@media only screen and (max-width: 760px) {
  #footer {
    display: none;
  }
  .footer {
    position: initial;
    padding: 0;
  }
  .icon {
    height: 24px;
    width: 24px;
    filter: brightness(0) invert(1);
  }
  .number-likes {
    font-size: 18px;
    line-height: 24px;
    margin-left: 32px;
  }
  .number-likes:hover {
    filter: brightness(0) invert(rgb(179, 154, 107));
    /* background-color: rgb(179, 154, 107); */
  }
}
