body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  user-select: none;
  background-color: black;
  margin: 0;
}
.linck {
  text-decoration: none;
}
.number-likes {
  color: #6B6B6B;
  font-size: 14px;
  line-height: 19px;
  margin-left: -8px;
}
