.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 4vh; */
  /* width: 100%; */
  padding: 18px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.logo {
  font-size: 46px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.wrapper {
  display: flex;
  gap: 16px;
}
.section {
  font-size: 12px;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
.section:hover {
  color: rgb(179, 154, 107);
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 2fr); */
  margin: 60px 30px 90px;
}
.photo {
  cursor: pointer;
  transition: scale 1s;
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo:hover {
  z-index: 2;
  scale: 1.1;
}
.footer {
  position: sticky;
  bottom: 0;
  display: flex;
  opacity: .4;
  gap: 12px;
  padding-left: 18px;
  padding-bottom: 18px;
  height: 20px;
  z-index: 3;
}
.icon {
  height: 19px;
  width: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.share {
  background-image: url('../img/icons/share.png');
}
.instagram {
  background-image: url('../img/icons/instagram.png');
}
.like {
  background-image: url('../img/icons/like.png');
}
.enroll {
  background-image: url('../img/icons/enroll.png');
}

