.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin: 60px 30px 90px;
}
.photo {
  cursor: pointer;
  transition: scale 1s;
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo:hover {
  z-index: 2;
  scale: 1.1;
}
#photo-popup {
  display: none;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: .8;
}
#close-photo {
  position: fixed;
  top: 32px;
  right: 32px;
  height: 21px;
  width: 21px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  background-image: url('../img/icons/close.png');
  z-index: 3;
}
.photo-origin-wrapper {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 90vh;
  z-index: 3;
}


